@import "tailwindcss";

@import "@use-pico/client/ui.css";

@plugin "@iconify/tailwind4";

@config "../../tailwind.config.ts";

html {
	overscroll-behavior: none;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
}
